@model BLOG.BLL.Models.BlogPostViewModel

<h1>@Model.Title</h1>
<p>Published on: @Model.PostedOn </p>

@if (Model.Author != null)
{
    <p>Author: @Model.Author.Name </p>
}

@if (Model.Categories != null)
{
    <p>Categories: @string.Join(", ", Model.Categories.Select(c => c.Name))</p>
}

<p>@Model.Content</p>
